{% extends "base.html" %}
{% block title %}О проекте{% endblock %}
{% block content %}
  <h1>О проекте</h1>
  <p>
    Блогикум — это дом для творческих людей. Это — сообщество людей, для которых<br>
    нет грани между ведением блога и дружбой в социальных сетях.<br>
  </p>
  <p>
    Дружба и рассказы о новых, неизведанных впечатлениях — вот<br>
    что вы найдете на нашем ресурсе.  Миллионы блогов по различным темам.<br>
    Путешествия, политики, развлечения, мода, мода, литература, дизайн и все<br>
    другие сферы человеческой деятельности.<br>
  </p>
  <p>
    Творчество, разнообразие и свобода взглядов и самовыражения —<br>
    основные черты наших пользователей.<br>
  </p>
{% endblock %}