{% extends "base.html" %}
{% block title %}Наши правила{% endblock %}
{% block content %}                 
  <h1>Наши правила</h1>
  <p>
    <b>Cамовыражение.</b> У наших пользователей должна<br>
    быть возможность создать что-то своё, выразить себя,<br>
    свои мысли и чувства.<br>
  </p>
  <p>
    <b>Многообразие.</b> Мы уважаем и приветствуем разные<br>
    мнения и культуры. Блогикум — это место, объединяющее<br>
    самых разных людей. Поделитесь своим уникальным взглядом на мир.<br>
  </p>
  <p>
    <b>Творчество.</b> Не важно, в какой области вы творите,<br>
    это может быть литература, дизайн, программирование.<br>
    Наши инструменты помогут вам раскрыть талант максимально<br>
    просто и комфортно.<br>
  </p>
  <p>
    <b>Личность.</b> Мы сохраним ваши сокровенные мысли в тайне.<br>
    Делитесь своей информацией только с теми, кого выбрали.<br>
    Как и насколько засекречивать вашу личную информацию —<br>
    определяете вы и только вы.<br>
  </p>
{% endblock %}